%h1 Welcome to medicine donations
- if user_signed_in?
  = render partial: 'layouts/navbar/homepage_navbar'
  %div
    Welcome #{current_user.email}
  %p
    You are a [#{current_user.role}]
  = link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete
- else
  = link_to "Sign up", new_user_registration_path
  = link_to "Log in", new_user_session_path
