.container
  %p{:style => "color: green"}= notice

  %table.table.table-bordered
    %thead
      %tr
        %th Name
        %th Quantity
        %th
        %th
    %tbody
      %td= @request.name
      %td= @request.quantity
      %td
        = link_to "Donate", new_donation_path(name: @request.name, quantity: @request.quantity, targeted: true, request_id: @request.id)
      %td
        = link_to "Buy", new_owner_path

  = link_to "Back to requests", requests_path
