%h1 Requests
= simple_form_for :search, url: donations_path, method: 'get' do |f|
  = f.label 'search'
  = f.input :name, input_html: {value: ""}
  .button
    = f.submit 'Search'
%table.table.table-bordered
  %thead
    %tr
      %th Name
      %th Quantity
      %th Posted
  %tbody
  - @donations.each do |request|
    %tr
      %td= request.name
      %td= request.quantity
      %td= request.created_at
      %td
        = link_to "View this donation", request