%nav#mainNav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.page-scroll{:href => root_path}
        %img{src: '/logo.jpg'}
        .site-name
          = MedDonations

    #navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          =link_to 'Post a donation', new_donation_path
        %li
          = link_to 'View Donations', donations_path
        %li
          = link_to 'Create a request', new_request_path
        %li
          = link_to 'View Requests', requests_path
        %li{class: ('active' if request.path == new_user_session_path)}
          - unless user_signed_in?
            = link_to new_user_session_path do
              = t('.login')
          - else
            = button_to destroy_user_session_path, method: :delete do
              = 'Logout'
