!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MedDonations
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    %script{:src=>"https://static.opentok.com/v2/js/opentok.min.js"}
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", 'data-turbolinks-track' => 'true', 'media' => 'all'
    = javascript_importmap_tags
  %body
    %p.notice= notice
    %p.alert= alert
    = render partial: 'layouts/navbar'
    = yield
